.page section.works {
  // @include mq(tabletp) {
  //   padding-right: 150px;
  // }
  //padding-right: 150px;
  a.btn-works {
		position: absolute;
		right: 44px;
		top: 20px;
  }
}
.gallery {
  p {
    display: none;
  }
}
.slick-slider {
  p {
    max-width: 100%;
    text-align: center;
    margin: 15px auto;
  }
}

.slick-arrow {
  height: 100%;
  &.slick-prev:before,
  &.slick-next:before {
    opacity: 1;
    color: #C4C4C4;
  }
}
.slick-dots {
  li {
    margin: 0 15px;
    button {
      padding: 0px;
      &:before {
        font-size: 20px;
      }
    }
  }
}
